{% extends "base.html" %}

{% block title %} Youtube {% endblock %}

{% block content %}
<!-- Side bar -->

<div class="d-flex flex-column flex-shrink-0 p-3 bg-dark border-1 border-secondary border-end" style="width: 280px; height:90vh">
  <ul class="nav nav-pills flex-column mb-auto h-100 d-inline-block">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page" style="background-color: red!important;">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        Inicio
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        Listas de reproducción
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        Videos
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        Suscripciones
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        
      </a>
    </li>
  </ul>
</div>

{% endblock %}